.fullHeight {
  min-height: 100vh;
}

.centerVerticallyAndHorizontally {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  composes: fullHeight centerVerticallyAndHorizontally;
}
